<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="LOG_HOME" value="/data/logs/vip-svr-web"/>

    <property name="MSG_PATTERN" value="%d{ISO8601} -- %msg%n"/>
    <property name="NORMAL_PATTERN" value="%d{ISO8601} %-5level -- %-50.50logger -- %msg%n"/>
    <property name="SERIOUS_PATTERN" value="%d{ISO8601} [%-16.16thread] %-5level -- %-60.60class [%4line] -- %msg%n"/>
    <property name="LOG_PATTERN" value="%msg%n"/>

    <timestamp key="byDay" datePattern="yyyyMMdd"/>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <!--  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>-->
        <encoder>
            <pattern>${SERIOUS_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>${LOG_HOME}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/debug.%d{yyyyMMdd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${SERIOUS_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_HOME}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/info.%d{yyyyMMdd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${NORMAL_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- special level -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${LOG_HOME}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error.%d{yyyyMMdd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${SERIOUS_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 记录详细日志(运营数据分析) begin -->
    <appender name="api_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/stat/current/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/stat/history/api.%d{yyyyMMdd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MSG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="api_client_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/stat/current/api_client.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/stat/history/api_client.%d{yyyyMMdd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${MSG_PATTERN}</pattern>
        </encoder>
    </appender>


    <logger name="api" level="INFO" additivity="false">
        <appender-ref ref="api_log"/>
    </logger>

    <!-- 记录详细日志(运营数据分析) end -->
   <!-- <appender name="smtpAppender" class="ch.qos.logback.classic.net.SMTPAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <smtpHost>smtp.163.com</smtpHost>
        <username>XXXXX</username>
        <password>XXXXX</password>
        <smtpPort>25</smtpPort>
        <to>zszheng08@163.com</to>
        <to>tommyzhao1988@163.com</to>
        <from>zszheng08@163.com</from>
        <charsetEncoding>UTF-8</charsetEncoding>
        <asynchronousSending>false</asynchronousSending>
        <subject>哔哩消息中心服务: %logger{20} - %m</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level %logger{35} - %message%n</pattern>
        </layout>
    </appender>-->

    <!--<appender name="EMAIL" class="ch.qos.logback.classic.AsyncAppender">
        &lt;!&ndash; 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 &ndash;&gt;
        <discardingThreshold>0</discardingThreshold>
        &lt;!&ndash; 更改默认的队列的深度,该值会影响性能.默认值为256 &ndash;&gt;
        <queueSize>512</queueSize>
        &lt;!&ndash; 添加附加的appender,最多只能添加一个 &ndash;&gt;
        <appender-ref ref="smtpAppender"/>
    </appender>-->

    <!-- for debug , developers. -->
    <logger name="com.google.code" level="ERROR">
        <appender-ref ref="ERROR"/>
    </logger>
    <logger name="org.apache" level="ERROR">
        <appender-ref ref="ERROR"/>
    </logger>
    <logger name="org.dbunit" level="ERROR">
        <appender-ref ref="ERROR"/>
    </logger>
    <logger name="org.quartz" level="ERROR">
        <appender-ref ref="ERROR"/>
    </logger>
    <logger name="net.sf.ehcache" level="ERROR">
        <appender-ref ref="ERROR"/>
    </logger>
    <logger name="druid.sql.Statement" level="DEBUG"/>
    <logger name="ren.com.cn" level="DEBUG"/>

    <!-- for debug , developers. end -->
    <root level="INFO">
        <!-- APP_ERROR: WARN ERROR OFF -->
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
        <!--<appender-ref ref="EMAIL"/>-->
    </root>
</configuration>